@font-face {
  font-family: 'Roboto Bold';
  src:  url('../assets/fonts/robotobold.woff') format('woff'),
        url('../assets/fonts/robotobold.woff2') format('woff2')
}

@font-face {
  font-family: 'Roboto';
  src:  url('../assets/fonts/roboto.woff') format('woff'),
        url('../assets/fonts/roboto.woff2') format('woff2')
}
